$style:normal;
$weight:normal;
$size:24px;
$l-height:28px;
$color-text:#3D3D3D;
$color-add-btn:#fff;

$background-btn:#1435A8;


$btn_color:#1A45DB;
$btn_color_hover:#173DC2;
$btn_color_active:#1435A8;








